{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BBS - 登录 {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>登录</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>忘记密码？ <a href="{{ url_for('auth.password_reset_request')}}">点此重置密码</a>.</p>
    <p>新用户? <a href="{{ url_for('auth.register') }}">点此注册</a>.</p>
</div>
<div class="cookie-tips">
    <div>
        本网站使用了Cookie技术来为您提供完整的服务，若您继续使用本网站，则表示您同意并接受我们使用Cookie
    </div>
    <div style="margin-left: 100px;" onclick="close()">X</div>
</div>
<script type="text/javascript">
    var box1 = document.querySelector(".cookie-tips");
    box1.onclick = function () {
        box1.style.display = 'none'
    }
</script>
{% endblock %}