<main class="grid">
  {% for board in boards %}
{#    <article>#}
{#        <a  href="{{ url_for('.board',boardname=board.name) }}">#}
{#            <img src="{{ url_for('static',filename='images/coast.jpg') }}" alt="Board photo">#}
{#        </a>#}
{#        <div class="text">#}
{#            <h3><a href="{{ url_for('.board',boardname=board.name) }}">{{ board.name }}</a>[{{board.posts.count()}}帖子]</h3>#}
{#          <p>板块介绍：{{ board.intoduction }}</p>#}
{#          <!--<button onclick="window.location.href=&quot;{{ url_for('.board',boardname=board.name) }}&quot;">Go</button>-->#}
{#        </div>#}
{#    </article>#}

      <div class="container gallery-container">



		    <div class="tz-gallery">


		            <div class="col-sm-6 col-md-4">
		                <div class="thumbnail">
		                    <a  href="{{ url_for('.board',boardname=board.name) }}">
                                <img src="{{ url_for('static',filename='images/coast.jpg') }}" alt="Board photo">
                            </a>
		                    <div class="caption">
		                        <h3><a href="{{ url_for('.board',boardname=board.name) }}">{{ board.name }}</a>[{{board.posts.count()}}帖子]</h3>
                                <p>板块介绍：{{ board.intoduction }}</p>
		                    </div>
		                </div>
		            </div>
            </div>
      </div>
  {% endfor %}
</main>

